html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
@media print {
    body * {
        visibility: hidden; /* Hide all content */
    }

    #PrintPage, #PrintPage * {
        visibility: visible; /* Show only the form */
    }

    #PrintPage {
        position: absolute; /* Position it to take full page */
        left: 0;
        top: 0;
    }
        /* Hide the print button */
        #PrintPage button {
            display: none; /* Hide the print button in print view */
        }
}